<!DOCTYPE html>
<html>
  <head>
    <title>dojo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="http://resource.itbegin.com/imgs/favicon.ico"
       rel="shortcut icon" type="image/ico" media="screen">
    <link href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css"
       type="text/css" rel="stylesheet" media="all" />
  </head>
  <body>
    <div id="container"></div>
  </body>
</html>
